<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<h1>Salmon Cookies!</h1>

<!--stores come from our controller. GET method -->
<ul th:each="salmonStore : ${stores}">
  <!--notice the string we create within thymeleaf-->
  <li th:text="'Store name ' + ${salmonStore.name}">store name</li>
  <li th:text="'Average cookies per day ' + ${salmonStore.averageCookiesPerDay}"></li>
  <!-- Let's display the employees for each store-->
  <div>Employees: </div>
  <ul th:each="employee : ${salmonStore.employees}">
      <li th:text="${employee.name}">name</li>
      <li th:text="${employee.payPerHour}"></li>
  </ul>
  <!-- Let's create a form to add employees to the store -->
  <form action="/employee/add" method="POST">
    <fieldset>
      <legend>Add Employee to this Store</legend>
      <label>Employee Name</label>
      <input type="text" name="name">
      <label>Price Per Hour</label>
      <input type="text" name="pricePerHour">
      <input type="hidden" name="storeName" th:value="${salmonStore.name}">
      <input type="submit" value="Add Employee to Store">
    </fieldset>
  </form>
</ul>

<!--return a single store from a GET method-->
<li th:text="${storeName}">store name</li>
<li th:text="${storeSales}">store sales</li>

<!--form to create new stores-->
<form action="/cookie-store/" method="POST">
  <fieldset>
    <legend>Add Salmon Cookies Store</legend>
    <label>Store Name</label>
    <input type="text" name="name">
    <label>Average Cookies Per Day</label>
    <input type="text" name="averageCookiesPerDay">
    <input type="submit" value="Add Store">
  </fieldset>
</form>

<!--delete a store by id-->
<!--<form th:action="'/cookie-store/' + ${salmonStore.id}" th:method="delete">-->
</body>
</html>
