<!-- Step 8A: CheatSheet 8, part 1: create basic splash page -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!-- Step 8D: CheatSheet 8, part 2: check prinicipal and show user information -->
<h3 th:if="${username != null}" th:text="${'Current user: ' + username}"></h3>
<h1>Welcome to UserBook, the best place on the web for users!</h1>

<a th:if="!${username}" href="/login">Login</a>
<br>
<a th:if="!${username}" href="/signup">Or Sign up</a>
<!-- Step 9: CheatSheet 8, part2: create logout for users that are logged in-->
<a th:if="${username}" href="/logout">Logout</a>

<h3>Test h3</h3>
<div th:replace="/fragments/nav-header :: h3"></div>
<div th:replace="/fragments/nav-header :: siteUser-header"></div>
</body>
</html>
