<!-- Step 8A: CheatSheet 8, part 1: create basic splash html page -->
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<!-- Step 8D: CheatSheet 8, part 2: check principle to show user information -->
<h3 th:if="${username != null}" th:text="${'Current user: ' + username}"></h3>
<h1>Welcome to UserBook, the best home for users on the internet!</h1>

<a th:if="!${username}" href="/login">Log In</a>
<br>
<a th:if="!${username}" href="/signup">Or Sign Up</a>
<!-- Step 8E: CheatSheet 8, part 2: add logout button-->
<a th:if="${username}" href="/logout">Log Out</a>
</body>
</html>
