<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h3 th:text="${message}"></h3>
<form action ="/login" method="post">
  <fieldset>
    <legend>Login</legend>
    <label>User Name</label>
    <input type="text" name="userName"/>
    <label>Password</label>
    <input type="text" name="password"/>
    <input type="submit" value="Login"/>
  </fieldset>
</form>

<form action ="/signup" method="post">
  <fieldset>
    <legend>Sign Up</legend>
    <label>User Name</label>
    <input type="text" name="userName"/>
    <label>Password</label>
    <input type="text" name="password"/>
    <input type="submit" value="Sign up"/>
  </fieldset>
</form>
</body>
</html>
